{% set name = "hitori.is-cute.moe" %}
{% set motto = "A cute safe for Bocchi." %}
{% set description = "A pomf-like file uploading service for cute anime waifus." %}
{% set keywords = "upload,lolisafe,file,images,hosting" %}

{# Used in home.njk and nojs.njk #}
{% set home_subtitle = "derpie's self-hosted file upload service for a <strong>cute</strong> Bocchi" %} {# HTML supported #}

{# Used in faq.njk and cookiepolicy.njk #}
{% set root_domain = "is-cute.moe" %}
{% set whole_faq = root_domain + " website and sub-domains" %}
{% set whole_cookie = "This site and " + root_domain + " website and sub-domains" %}
{% set email = "derpie@is-cute.moe" %}

{% set fork_repo = "https://github.com/ricky8k/lolisafe/tree/bocchi" %}
{% set fork_host = "GitHub" %}
{% set fork_issues = fork_repo + "/issues/new/choose" %}

{% set takedowns_url = false %}
{% set server_location = false %} {# HTML supported #}

{# Donation, funding support, or such #}
{% set support = false %} {# HTML supported #}

{% set enable_faq_banned_categories = false %}
{% set enable_faq_tor = false %}

{# Enabling the option below will hide FAQ categories which are irrelevant for personal installation #}
{% set is_for_personal_use = true %}

{# Requires configuring your own renders in public/render. Consult src/js/misc/render.js. #}
{% set enable_home_renders = null %} {# String of selected config name #}
{% set enable_home_newsfeed = false %}

{#
  These are the footer links in the homepage and the No-JS uploader (home.njk & nojs.njk respectively).
  In the homepage uploader, they will be displayed as icons,
  but you can choose to display them as texts by setting "home_icons" to false.
  It will then use the text in "attrs.title" of each links.
  Note: No-JS uploader page will have icons disabled by default (it will also not load fontello.css).
#}
{% set home_icons = true %}
{% set home_links = [
  {
    attrs: {
      id: 'ShareX',
      title: 'ShareX user profile',
      href: 'https://hitori.is-cute.moe/hitori.is-cute.moe.sxcu?v=' + (versions[2] or '')
    },
    icon: 'icon-sharex icon-2x'
  },
  {
    attrs: {
      title: 'FAQ',
      href: 'faq'
    },
    icon: 'icon-help-circled icon-2x'
  },
  {
    attrs: {
      title: 'Dashboard',
      href: 'auth'
    },
    icon: 'icon-gauge icon-2x'
  }
] %}
